body {
background: #0080ff;
font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 50px;
	margin:0px;
	padding:0px;
}
img{
	display: block;
	width: 600px;
	height: auto;
	border-radius: 10px;
}

#title{
	background: #ff80d5;
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding:10px;

}


#main{
	background: #33ff33;
	width:650px;
	height: 47x;
	padding-top: 30px;
	padding-left: 15px;
	border-radius: 10px;
	padding-bottom: 10px;
}

p {
	margin: 0px;
	padding: 0px;
}