body {
background: #0080ff;
font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 50px;
}
img{
	display: block;
	width: 600px;
	height: auto;
}

#title{
	background: #ff80d5;
	width: 600px;
}

#main{
	background: #33ff33;
	width:700px;
	height: 500px;
}